{% extends "base.twig" %}
{% block content %}
    <h1 class="big-title">{{ title }}</h1>
    <h2>{{ subTitle }}</h2>
    <img src="{{ image }}" />
    <div class="body"> {{ content }} </div>
{% endblock %}
